form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: #3a3a3a;
  border-radius: 5px;
  padding: 1rem;
}

input {
  width: 40%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #2e2e2e;
  color: #f0f0f0;
  transition: border-color 0.3s ease;
}

.submitButton {
  padding: 10px 15px;
  font-size: 1rem;
  color: white;
  background-color: #3f8ba0;
  background-color: #08bffcc2;
  width: 40%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #3f8ba0;
  transition: background-color 0.3s ease;
}
