
.footer {
  width: 100%;
  /* background-color: #3a3a3a; */
  background-color: #aea6a62d;

  color: #aea6a6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.footer h1 {
  font-size: 1rem;
  font-weight: 300;
}

.footer {
  background-color: #fff;
  color: #333;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.9rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
  color: #555;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.footer img {
  vertical-align: middle;
  margin-left: 8px;
  height: 18px;
  width: auto;
}


@media (max-width: 600px) {
  .footer {
    padding: 15px 0;
    font-size: 0.8rem;
  }

  .footer img {
    height: 16px;
  }

}
