* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #2e2e2e;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
  justify-content: center;
}

main {
  display: grid;
  grid-template-rows: 1fr 0.5fr 10fr 1fr 1fr;
  height: 100vh;
  gap: 0.5rem;
  padding: 2rem;
  overflow-y: auto;
}
