.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background-color: #3a3a3a;
  /* background-color: #aea6a62d; */
  border-radius: 5px;
  gap: 1rem;
  padding: 2rem;
  justify-items: center;
}

.container label {
  place-content: center;
  font-size: 1rem;
  color: #aea6a6;
  text-align: center;
}

.flashcard {
  width: 20rem;
  max-width: 100%;
  padding: 20px;
  text-align: center;
  /* background-color: #08bffcc2; */
  background-color: #3f8ba0;
  border: 1px solid #555;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
  height: 10rem;
  display: grid;
  grid-template-rows: auto 1fr 0.25;
  /* position: relative; */
}

.flashcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
}

.flashcard.active {
  /* background-color: #938f8f; */
  /* background-color: #3f8ba0; */
  background-color: #08bffcc2;
}

.closeButton {
  grid-row: 1; /* Place in the first row */
  grid-column: 1; /* Align in the single column */
  justify-self: end; /* Align to the right */
  align-self: start; /* Align to the top */
  background: transparent;
  border: none;
  font-size: 1.2rem;
  color: #999;
  cursor: pointer;
}

.closeButton:hover {
  color: #f0f0f0;
}

.flashcard label {
  font-size: 2rem;
  font-weight: bold;
}

.flashcard h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
